__pycache__/
cache/
monitoring/
runs/
LogInterface/LogClasses/*
!LogInterface/LogClasses/__init__.py
*_frames/
*_images/
*.yuy2
*.png
*.jpg
*.jpeg
*.log
*.prof
*.pkl
*.pickle
*.csv
*.npz
!rb6.log
/chkxw_utils
